In [1]:
# string + string

a = '10'
b = '340'

a+b

# concatenation

'10340'

In [2]:
# string + string

fname = 'Yash'
lname = 'Pal'

fname+ ' '+lname

'Yash Pal'

In [3]:
#int + float

a = 10
b = 10.2

a+b

20.2

In [4]:
#numerical data type ---> int, float
#categorical oor textual data type ---> string

In [5]:
a = '10'
b = '340'

a+b

'10340'

In [6]:
# to change datatype,we use typecasting

Built in functions for typecasting

* int()
* float()
* str()
* bool()

In [7]:
print(type(a))

int(a)

<class 'str'>

10

In [8]:
#permanent change

a = int(a) #overwrite
type(a)

int

In [9]:
a = '10'
b = '340'

#int(a)+int(b) #temporary change
a = int(a) # permanetly change
b = int(b)

a+b

350

In [10]:
#implicit type casting
a = 10 #int
b = 10.0 # float
a + b

20.0

In [11]:
a = 6
b = 2

a/2 #float

3.0

Order

* string
* float
* int
* bool

In [12]:
# general example

# a = 'yash'
#int(a)

a = '10'
print(a,'\t',type(a))
print(float (a),'\t',type(a))
print(float(a),'\t',type(float(a)))
print(int(a),'\t', type(int(a)))
print(bool (a),'\t', type(bool (a)))

10 	 <class 'str'>
10.0 	 <class 'str'>
10.0 	 <class 'float'>
10 	 <class 'int'>
True 	 <class 'bool'>

In [13]:
# bottom to top

a = True
print(bool(a),'\t',type(bool(a)))
print(int(a),'\t',type(int(a)))
print(float(a),'\t',type(float(a)))
print(str(a),'\t',type(str(a)))

True 	 <class 'bool'>
1 	 <class 'int'>
1.0 	 <class 'float'>
True 	 <class 'str'>

In [14]:
#input function

name = input('please enter your name')

please enter your name Yash Pal

In [15]:
name

'Yash Pal'

In [17]:
# calculatore 
a = int(input('please enter first number'))
b = int(input('please enter first number'))

#a = int(a)
#b = int(b)
print(a+b)

please enter first number 10
please enter first number 5

15

In [18]:
# if else conditions
# calculator

In [1]:
#Calculator
print('menu')
print('-'*50)
print('1. Addition')
print('2. Subraction')
print('3. division')
print('4. Multiplication')
print('5. Exit')
choice = int(input('enter your choice(number only)'))

if choice>0 and choice<6:
    if choice==1: #nested if else 
        n1 = int(input('enter your choice'))
        n2 = int(input('enter your choice'))
        print('sum of n1 and n2 ',n1+n2)

    elif choice==2: # nested if else
        n1 = int(input('enter your choice'))
        n2 = int(input('enter your choice'))
        print('Subraction of n1 and n2 ',n1-n2)
        
    elif choice==3: # nested if else
        n1 = int(input('enter your choice'))
        n2 = int(input('enter your choice'))
        print('division of n1 and n2 ',n1/n2)

    elif choice==2: # nested if else
        n1 = int(input('enter your choice'))
        n2 = int(input('enter your choice'))
        print('Multiplication of n1 and n2 ',n1*n2)

    elif choice==5: #nested if else
        print('exit')

menu
--------------------------------------------------
1. Addition
2. Subraction
3. division
4. Multiplication
5. Exit

enter your choice(number only) 1
enter your choice 56
enter your choice 77

sum of n1 and n2  133